.input {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
    width: 140px;
    height: 20px;
    font-size: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

label {
    display: none;
}